
.login-block {
background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}
.nav-link {color:black;}
.banner-sec{background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);min-width: 60% !important;
  height: 700px !important ;}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:70%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#DE6262; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color: black;}
/* Carousel base class  */

.toast-body {
  color: #DE6262;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.025em;
    text-align: center;
    background-color: none;
}


.carousel {
    max-height: 500px;
    margin-bottom: 60px;
  } 

.carousel-inner > .carousel-item > img {
    opacity: 0.5;
    top: 0;
    left: 0; 
    bottom: 0;
    min-height: 600px;
  }


  *, *::after, *::before {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0.25;
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    overflow-x: hidden;
    color: rgb(28, 28, 28);
  }

.view-job-page{
    text-align: center;
    line-height: 1.5;
    margin-top: 90px;
    margin-left: 200px;
    text-shadow: 2px 1px #DE6262;
    
}
.job-details{
        line-height: 1.5;
        margin-top: 10px;
        margin-left: 37%;
        text-shadow: 2px 1px #DE6262;
        
}

.create-job-page{
    color:#DE6262; font-weight:600;
    align-items: center;
    justify-content: center;
}
  
  p {
    line-height: 1.5;
  }
  
  .section-row {
    position: relative;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 500px;
    
    overflow: hidden;
  }
  
  .section-row__image {
    position: relative;
   width: 60%;
  }
  
  .section-row__content {
    position: absolute;
    width: auto;
    height: auto;
    background-image:
      linear-gradient(
        -83deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.7) 62%,
        rgba(255, 255, 255, 1) 80%,
        rgba(255, 255, 255, 1) 100%
      );
      margin-left: 1%;
      margin-right: auto;
  }
  
  .section-row__content-inner {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 4%;
    width: 40%;
    height: 100%;
  }
  .fa-twitter, .fa-linkedin, .fa-envelope, .fa-github {
    margin-bottom: 5em;
    font-size:1.6em;
    color:grey;
    padding:30px;
  }
  .fa:hover
  {
    color:#4d4d4d;
  }


/* view page navbar */
.nav-item{
    color:black;
}
.navbar-primary {
    background-color: #FFB88C;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 58px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .navbar-primary.collapsed {
    width: 60px;
  }
  
  .navbar-primary.collapsed .glyphicon {
    font-size: 22px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      bottom:0;
      width: 100%;
      padding: 8px 0;
      border-top:solid 1px #666;
      color: grey;
      font-size: 20px;
      text-align: center;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: #222;
      color: white;
  }
  
  .btn-expand-collapse:active {
      background-color: #111;
  }
  
  .navbar-primary-menu,
  .navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
  }
  
  .navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: black;
  }
  
  .navbar-primary-menu li a:hover {
    background-color: #DE6262;
    text-decoration: none;
    color: white;
  }

/* table contents */
a.anchor-button {
    background: #DE6262; 
    display: block;
    text-align: center;
    width: 200px;
    height: 40px;
    color:#fff; 
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 3px 0 rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
}
a.anchor-button:hover {
        background-color: rgba(0,0,0,0.1);color:black}
        
a.anchor-button:active {
            background-color: #f06d6d;
          }
          
a.anchor-button:visited {
            background-color: #b17e5e;
          }
          
.table-container {
  position: relative;
  margin-bottom: 30px;
	left: 15.5%; /* centering the table */
	justify-content:center;
  height:500px;
  overflow-y:scroll;}

.table-container-interview{
    position: relative;
    justify-content:center;
    overflow-y:scroll;
    height:200px;
    margin: 50px auto;
    left: 15.5%;
    
}
.table-container-interview-details{
  position: relative;
    justify-content:center;
    overflow-y:scroll;
    height:350px;
    margin: 30px auto;
}
  
table {
	width: 80%;
    border-collapse: collapse;
    height: 500px;
    overflow-y: scroll;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
    color:black;
    position: relative;
    vertical-align:middle;
}
th {
    background-color: #DE6262;
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 17px;
        color: black;
        text-transform: uppercase;
}


tbody>tr:hover {
            background-color: rgba(255,255,255,0.3);
           
		}
tbody {
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    color: black;
    background-color: #FFB88C;
    
}	

    td> td:hover> td:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
            }
 /* event page form      */
 .event-container {  
    max-width: 510px;
    min-width: 324px;
    margin: 10px 600px 10px 43%;
    background-color: white;
    border: 1px solid lighten(grey, 1%); 
    border-bottom: 3px solid grey;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1%;
  } 
  .job-container {  
    max-width: 40%;
    min-width: 324px;
    margin: 5% 20% 5% 35.5%;
    background-color: white;
    border: 1px solid lighten(grey, 1%); 
    border-bottom: 3px solid grey;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1%;
  } 
  .app-job-container label{
    background-color: white; 
    text-transform: uppercase;
    padding: 1%; 
    min-width: 324px;
  }
  .update .btn-login{
      width: 100%;
  }
  .row {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0 2.5em;
    
  }

form{
    max-width: 100%;
  display: block;
  
} 	

form >ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

form >ul>li {
    margin: 0 0 0.25em 0; 
      clear: both;
      display: inline-block;
      width: 100%;
}
  .req {
    color: pink; 
  }
  input {
    margin: 0 0 0.5em 0;
    border: 1px solid grey;
    padding: 6px 10px;
    color: black;
    font-size: pxtoem(16, 16);
  }
  textarea {
    border: 1px solid grey;
    padding: 6px 10px;
    width: 100%;
    color: black;
  }
  /* job application details */
  #wrapper{ max-width: 80%; width:100%; margin:3% 1% 0 15.5%;border-radius: 0 10px 10px 0;}
  #generic-tabs{ width:100%; padding:20px; border-radius: 0 10px 10px 0;}
/*Tab styles*/
#generic-tabs ul { overflow: hidden; margin:0; padding:0;}
#generic-tabs ul li{ float:left; display:inline-block; width:25%; border-right:1px solid #CCCCCC;}
#generic-tabs ul li:last-child {border-right:none;}
#generic-tabs ul li:first-child { padding-left:0; }
/*Tab link styles*/
#generic-tabs ul li a {text-align:center; display:block; font-size: 1.2em; text-decoration: none; padding: 1.2em 1em; line-height: 16px; color:black;}



/*Tab content styles*/

#generic-tabs .tab-content{ background:#FFFFFF; padding:3em 2em;}
#generic-tabs .tab-content h1 {margin-top:0;}
/* adding fixed length to the tab content box */
.tab-content {
    display: flex;
    
  }
.tab-content > .tab-pane{
    overflow-y: scroll;
    display: block; /* undo "display: none;" */
  visibility: hidden;
  height: 80%;
  margin-right: -100%;
  width: 100%;
}
.tab-content > .active {
    visibility: visible;
  }

  /* end of adding fixed length to the tab content box */
.details a{
    background: #DE6262;
}
#jd{
  width: 500px;
    height: 150px;
    overflow-y: hidden;
}
.upper{
  text-transform: uppercase;
}

#my-footer ul li {
    display: inline-block;
    padding: 0.4em;
  } */
  
.navbar-custom nav{
	background-color: white;
	color: black;
	border-radius: 0px;
}
