{% extends 'base.html' %}

{% block title %}About Page{% endblock %}
{% block header %}

<nav class="Navigation">
    <a href="/demo">Demo</a>
    <a href="/">Homepage</a>
</nav>
    

{% endblock %}
{% block body %}
<div>
    <img src="/static/img/agreement.jpg" alt="shake hand" style="width: 40%;">
  </div>  
<h3>
 Job-Track-App helps you Stay Organized and Increase Productivity.Organizing and tracking job application has never been so easy. With Job Track App you can stay on top of your next career challenge while we do the heavy lifting of systematizing job applications for you so that you can focus more on what is important.
</h3>

    
{% endblock %}