{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}


{% block header %} 

    <nav class="Navigation">
      <a href="/about">About</a>
      <a href="/demo">Demo</a>
    </nav>
{% endblock %}
{% block body %} 
  <h1>Stay Organized and Increase Productivity</h1>  
  <div>
    <img src="/static/img/search.jpg" alt="Woman using a Laptop">
  </div>
  <div>
  <fieldset> 
  <legend><h2>Sign Up</h2></legend>
  <form action="/" method="POST">
    <p>First Name <input type="text" name="fname" required></p>
    <p>Last Name <input type="text" name="lname"></p>
    <p>Email <input type="email" name="email" maxlength="50" placeholder="test@test.com" size="25" required></p>
    <!-- using pattern ex pattern="[0-9a-fA-F]{4,12}-->
    <p>Password <input type="password" name="password" maxlength="25" size="15" required></p> 
    <p>Phone Number <input type="tel" name="phone_number" pattern="+1[0-9]{10}" placeholder="+14234657890" minlength="12" maxlength="12" size="15" required></p>
    <p>
      <input type="submit" value="Sign Up">
    </p>
  </form>
  </fieldset>
  </div>
  <div>
      <h3>Organizing and tracking job application has never been so easy. With Job Track App you can stay on top of your next career challenge while we do the heavy lifting of systematizing job applications for you so that you can focus more on what is important.  </h3>
  </div>
{% endblock %}