{% extends 'base.html' %}

{% block title %}Interview Question{% endblock %}
{% block header %}

<nav class="Navigation">

    <a href="/profile">Profile</a>
    <a href="/render-create-job-application-form">Create Job Application</a>
    <a href="/logout">Logout</a>

</nav>
    
{% endblock %}
{% block body %} 
<fieldset>
    <legend> Interview Questions</legend>
      {% for interview_question in note_interview_question%}
        <p>
          <label>Title: </label>
        {{note_interview_question[interview_question]['note_title'][0]}}
        </p>
        
        <p>
           <label>Text: </label>
          {{note_interview_question[interview_question]['note_text']}}
        </p>
  
      {% endfor %}
    </fieldset>
    {% endblock %}    