{% extends 'base.html' %}

{% block title %}View User Job Application{% endblock %}
{% block header %}

  <nav class="Navigation">
    <!-- <a href="/profile">Profile</a> -->
    <a href="/view-job-application">View All Job Application</a>
    <a href="/render-create-job-application-form">Create Job Application</a>
    <a href="/metrics">Metrics</a>
    <a href="/events">Events</a>
    <a href="/logout">Logout</a>
  </nav>

{% endblock %}
{% block body %} 
    <a href="/view-job-application/{{ session['job_id']}}">View Job Application Details</a>
    <a href="/resources/{{ session['job_id']}}">Resources</a>
    <a href="/interview-questions/{{ session['job_id']}}">Interview Questions</a>
    <a href="/update-fields/{{ session['job_id']}}">Update Fields</a>
{% endblock %}