{% extends 'base.html' %}

{% block title %}View Page{% endblock %}
{% block header %}

<nav class="Navigation">

    <a href="/profile">Profile</a>
    <a href="/render-create-job-application-form">Create Job Application</a>
    <a href="/logout">Logout</a>

</nav>
    
{% endblock %}
{% block body %} 
<fieldset>
    <legend> Resume</legend>
      {% for resume in note_resume %}
        <p>
          <label>Title: </label>
        {{note_resume[resume]['note_title'][0]}}
        </p>
        
        <p>
           <label>Text: </label>
          {{note_resume[resume]['note_text']}}
        </p>
  
      {% endfor %}
    </fieldset>
  <fieldset>
  <legend> Follow-Up Template</legend>

    {% for followup in note_followup %}
      <p>
        <label>Note Title: </label>
      {{note_followup[followup]['note_title'][0]}}
      </p>
      
      <p>
         <label>Note Text: </label>
        {{note_followup[followup]['note_text']}}
      </p>

    {% endfor %}
  </fieldset>

  {% endblock %}