{% extends 'base.html' %}

{% block title %}View User Job Application{% endblock %}
{% block header %}

  <nav class="Navigation">
    <a href="/profile">Profile</a>
    <a href="/render-create-job-application-form">Create Job Application</a>
    <a href="/logout">Logout</a>
  </nav>

{% endblock %}
{% block body %} 
    <h2>Hi {{ session['first_name']}},</h2> 
    <h3>Your Job Application</h3> 
    <div>
      <table style="width:75%" >
        
        <tr>
          <th>Company Name</th>
          <th>Job Title</th>
          <th>Application Deadline</th>
          <th>Job-listing-url</th>
          <th>State</th>
          <th>Application Status</th>
        </tr>
 
        {% for job in dictionary_jobs %}
          <tr>
            <td><a href = "/view-job-application/{{dictionary_jobs[job]['job_id'][0]}}">{{ dictionary_jobs[job]['company_name'][0] }}</a></td>
            <td>{{dictionary_jobs[job]['job_title'][0]}}</td>
            <td>{{dictionary_jobs[job]['application_deadline'][0]}}</td>
            <td>{{dictionary_jobs[job]['job_listing_url'][0]}}</td>
            <td>{{dictionary_jobs[job]['state'][0]}}</td> 
            <td>{{dictionary_jobs[job]['app_state']}}</td>
      
          </tr>
        {% endfor %}  
      </table>
    </div> 
{% endblock %}

