{% extends 'base.html' %}

{% block title %}View Page{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a id="job-track-app-logo" class="navbar-brand" href="/about">
    <!-- Logo made using Logomaker -->
    <img src="/static/img/job.png" width="30" height="30" alt="job-tracking-logo" loading="lazy">
    <strong>Job Track App</strong></a>  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/events"><i class="fa fa-bell"></i>Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
        </li>
  </div>
</nav>


    
{% endblock %}
{% block body %} 
<nav class="navbar-primary">
  <ul class="navbar-primary-menu">
    <li>
      <a class="active" href="/view-job-application" aria-pressed="true"><span class="nav-label">View Job Application</span></a>
      <a href="/render-create-job-application-form"><span class="nav-label">Create Job Application</span></a>
      <a href="/all-interview-questions"><span class="nav-label">View Interview Questions</span></a>
    </li>
  </ul>
</nav>

<div id="wrapper">
  <section id="generic-tabs">
      <h1 class="callout job-details">Job Application Details</h1>
    <ul id= "tabs" class="nav nav-tabs">
        <li class="nav-item details">
            <a title="View Details" class="nav-link active details" href="#first-tab" data-toggle="tab">View Details</a>	        
        </li>
        <li class="nav-item details">
            <a title="Resources" class="nav-link details" href="#second-tab" data-toggle="tab"> Resources</a>	
        </li>
        <li class="nav-item details">
            <a title="Interview Questions" class="nav-link details" href="#third-tab" data-toggle="tab"> Interview Questions</a>	
        </li>			    
        <li class="nav-item details">
            <a title="Update Fields" class="nav-link details" href="#fourth-tab" data-toggle="tab">Update Fields</a>	    
        </li>
    </ul>

<div class="tab-content">
  <div id="first-tab" role="tabpanel" class="tab-pane fade show active">
    <div class="text-center upper">
      <p ><h3>Company Name:   
    {{dictionary_jobs['company_name'][0]}}</h3></p>
    </div>
    <p ><span class="font-weight-bold">Job Title: </span>
    {{dictionary_jobs['job_title'][0]}}</p>    
    <p><span class="font-weight-bold">Application Deadline: </span>
      {{dictionary_jobs['application_deadline'][0]}}</p>
    <p><span class="font-weight-bold">Job Listing Url: </span>
    {{dictionary_jobs['job_listing_url'][0]}}</p>
    <p><span class="font-weight-bold">Salary: </span>
    {{dictionary_jobs['salary'][0]}}</p>
    <p><span class="font-weight-bold">Application Listed Date: </span>
    {{dictionary_jobs['application_listed'][0]}}</p>  
    <p><span class="font-weight-bold">State: </span>
    {{dictionary_jobs['state'][0]}}</p> 
    <p><span class="font-weight-bold">City: </span>
    {{dictionary_jobs['city'][0]}}</p> 
    <p><span class="font-weight-bold">Application Status: </span>
    {{dictionary_jobs['app_state']}}</p>
    <p><span class="font-weight-bold jobd">Job Description: </span></p>
      {% for jd in note_jd %}
        <div id="jd">
          {{note_jd[jd]['note_text']}}
        </div>
      {% endfor %}
      <p><span class="font-weight-bold jobd">Recruiter Details</span></p>
          <ul>
            {% for recruiter in note_recruiter %}
              <li>{{note_recruiter[recruiter]['note_title'][0]}}</li>
              <li>{{note_recruiter[recruiter]['note_text']}}</li>
            {% endfor %}
          </ul>

  </div> 
  <div id="second-tab" role="tabpanel" class="tab-pane fade">

    <div class="table-container-interview-details">
      <div class="container-fluid">
    <table >
      <col style="width:30%">
      <col style="width:70%">
      <thead>
      <tr>
        <th>Notes </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for note in note_dictionary %}
        <tr>
          <td><strong>{{note_dictionary[note]['note_title'][0]}}</strong></a></td>
          <td>{{note_dictionary[note]['note_text']}}</td>    
        </tr>
      {% endfor %} 
    </tbody> 
    </table>
  </div>
 </div>

    <div class="table-container-interview-details">
      <div class="container-fluid">
    <table >
      <col style="width:30%">
      <col style="width:70%">
      <thead>
      <tr>
        <th>Follow-Up Template </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for followup in note_followup %}
        <tr>
          <td><strong>{{note_followup[followup]['note_title'][0]}}</strong></a></td>
          <td>{{note_followup[followup]['note_text']}}</td>    
        </tr>
      {% endfor %} 
    </tbody> 
    </table>
  </div> 
</div>
    

  </div>
  <div id="third-tab" role="tabpanel" class="tab-pane fade">
    <div class="table-container-interview-details">
      <div class="container-fluid">
    <table >
      <col style="width:30%">
      <col style="width:70%">
      <thead>
      <tr>
        <th>Interview Questions </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for interview_question in note_interview_question%}
        <tr>
          <td><strong>{{note_interview_question[interview_question]['note_title'][0]}}</strong></a></td>
          <td>{{note_interview_question[interview_question]['note_text']}}</td>    
        </tr>
      {% endfor %} 
    </tbody> 
    </table>
  </div> 
</div>
    
  </div>
  <div id="fourth-tab" role="tabpanel" class="tab-pane fade" >
    <div class="app-job-container">
      <div class="row header">
        <h3 class="create-job-page ">Update Details</h3>
      </div>
      <div class="row body">
        <form action="/view-job-application/{{ session['job_id']}}" method="POST">
        <ul>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="application_state">Application Status</label>
              <select name="application_state" class="form-control" >
                <option value = "Applied">Applied</option>
                <option value = "Phone-interview">Phone-interview</option>
                <option value = "Onsite-interview">Onsite-interview</option>
                <option value = "Rejected">Rejected</option>
                <option value = "Offer">Offer</option>
                </select> 
          </div>
        </div>

          <li>
          <button type="submit" class="btn btn-login update" >Update</button>
          </li>
    
          </ul>
        </form>
      </div> 
      <div class="row body">
        <form action="/view-job-application/{{ session['job_id']}}" method="POST">
        <ul>
        <div class="form-row">
      
          <div class="form-group col-md-6">
            <label for="city">Note Category</label>
            <select name="note_category" class="form-control" >
              <option value = "Job Description">Job Description</option>
              <option value = "Follow-up">Follow-up</option>
              <option value = "Note">Note</option>
              <option value = "Interview Question Behavioral">Interview Question - Behavioral</option>
              <option value = "Interview Question Informational">Interview Question - Informational </option>
              <option value = "Interview Question Technical">Interview Question - Technical</option>
              <option value = "Recruiter Contact">Recruiter Contact</option>
              <option value = "Resume">Resume</option>
              </select> 
          </div>
        
          <div class="form-group col-md-6">
            <label>Note Title</label>
            <input type="text" class="form-control" name="note_title">
          </div>
        </div>
        <div class="mb-3">
          <label>Note text</label>
          <textarea class="form-control" name = "note_text"></textarea>
        </div>
        <li>
          <button type="submit" class="btn btn-login update" >Update</button>
        </li>
        </ul>
        </form>
    </div>
</div>
</div>
</div>
</div>  
</section>
</div>
    
    
{% endblock %}



  
    