{% extends 'base.html' %}

{% block title %}View Page{% endblock %}
{% block header %}

<nav class="Navigation">
   
      <a href="/profile">Profile</a>
      <a href="/metrics">Metrics</a>
      <a href="/events">Events</a>
      <a href="/logout">Logout</a>

    </nav>
    

    {% endblock %}
{% block body %}  
<p>
  <form action="/view" method="POST"> 
    <input type="radio" name="job-application" value = "view-job-application">
    <label>View Job Application</label>
    <input type="radio"  name="job-application" value="create-job-application">
    <label>Create Job Application</label>
    <input type="radio" name="job-application" value="view-interview-questions">
    <label>View Interview Questions</label><br>
    <input type="submit">
   </form>
</p>

    
{% endblock %}