{% extends 'base.html' %}

{% block title %}View Page{% endblock %}
{% block header %}

<nav class="Navigation">
    <ul>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    </nav>
    

    {% endblock %}
{% block body %}  
<p>
  <form action="/view"> 
    <input type="radio" name = "view-job-application">
    <label>View Job Application</label>
    <input type="radio" name = "create-job-application">
    <label>Create Job Application</label><br>
    <input type="submit">
   </form>
</p>

    
{% endblock %}